<div dir="{{dir}}">

    <div>
        <h2>
            WebSocket (JSR 356)
        </h2>

        <table style="border-collapse:collapse;" border="1px solid black">

            <tr style="background-color: #65b5ff;font-weight: bold">
                <th>col1</th>
                <th>col2</th>
                <th>col3</th>
            </tr>

            <tr>
                <td><a href="#/home">Home</a></td>
                <td><a href="#/upload">Upload</a></td>
                <td><a href="#/host/upload">Upload To Another Host!</a></td>
            </tr>

            <tr>
                <td><a href="#/log">Log</a></td>
                <td><a href="#/asynch/xml">XML</a></td>
                <td><a href="#/jms/queue">JMS</a></td>
            </tr>

            <tr>
                <td><a href="#/login">Web Socket</a></td>
                <td><a href="#/mail">Mail</a></td>
                <td><a href="#/user">User</a></td>
            </tr>

            <tr>
                <td><a href="#/group">Group</a></td>
                <td><a href="#/batch">Batch</a></td>
                <td><a href="#/cdi">CDI</a></td>
            </tr>
            <tr>
                <td><a href="#/jta">JTA</a></td>
                <td><a href="#/live/video">Live Video</a></td>
                <td></td>
            </tr>
        </table>

        <br/>
        {{'Room' | translate}}:{{room}}
        <br/>
        <table>


            <thead >
                <textarea rows="15" cols="40" readonly="readonly"></textarea>
            </thead>
            <thead>
                <textarea rows="15" cols="20" readonly="readonly"></textarea>
            </thead>
            <thead>
                <canvas id="sketchCanvas" width="330" height="220"></canvas>

                <input id="erase" type="button" value="{{ 'Erase' | translate }}" ng-click="toggleState()"/>
                <input id="colorPicker" type="color" ng-change="chooseColor()" ng-model="eventColor"/>

            </thead>
        </table>


        <div>
            <input id="text-chatMessage" type="text" value="" style="width: 300px;">

        </div>
        <br/>
        <button ng-click="send()">{{ 'Send' | translate }}</button>
        <button ng-click="close()">{{ 'Close' | translate }}</button>

        <br/>
        <button ng-click="changeLanguage('fa')" translate="BUTTON_LANG_FA">{{ 'BUTTON_LANG_FA' | translate }}</button>
        <button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN">{{ 'BUTTON_LANG_EN' | translate }}</button>
    </div>


</div>