<div dir="{{dir}}">
    <h2>
    Interceptor (Maintenance Release covered under JSR 318)
    </h2>

    <table style="border-collapse:collapse;" border="1px solid black">

        <tr style="background-color: #65b5ff;font-weight: bold">
            <th>col1</th>
            <th>col2</th>
            <th>col3</th>
        </tr>

        <tr>
            <td><a href="#/home">Home</a></td>
            <td><a href="#/upload">Upload</a></td>
            <td><a href="#/host/upload">Upload To Another Host!</a></td>
        </tr>

        <tr>
            <td><a href="#/log">Log</a></td>
            <td><a href="#/asynch/xml">XML</a></td>
            <td><a href="#/jms/queue">JMS</a></td>
        </tr>

        <tr>
            <td><a href="#/login">Web Socket</a></td>
            <td><a href="#/mail">Mail</a></td>
            <td><a href="#/user">User</a></td>
        </tr>

        <tr>
            <td><a href="#/group">Group</a></td>
            <td><a href="#/batch">Batch</a></td>
            <td><a href="#/cdi">CDI</a></td>
        </tr>
        <tr>
            <td><a href="#/jta">JTA</a></td>
            <td><a href="#/live/video">Live Video</a></td>
            <td></td>
        </tr>
    </table>

        {{"From_Server" | translate}}:
        <table ng-if="logList" style="border-collapse:collapse;" border="1px solid black">

            <tr style="background-color: #f66;font-weight: bold">
                <th>{{ 'ID' | translate}}</th>
                <th>{{ 'Class' | translate}}</th>
                <th>{{ 'Method' | translate}}</th>
                <th>{{ 'Date' | translate}}</th>
                <th>{{ 'Message' | translate}}</th>
                <th>{{ 'Delete' | translate}}</th>


            </tr>
            <tr ng-repeat="item in logList">
                <td>{{item.id}}</td>
                <td>{{item.className}}</td>
                <td>{{item.method}}</td>
                <td>{{item.date}}</td>
                <td>{{item.message}}</td>
                <td>
                    <button ng-click="delete(item)">{{ 'Delete' | translate }}</button>
                </td>

            </tr>

        </table>


        <br/>
        <button ng-click="changeLanguage('fa')" translate="BUTTON_LANG_FA">{{ 'BUTTON_LANG_FA' | translate }}</button>
        <button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN">{{ 'BUTTON_LANG_EN' | translate }}</button>


</div>